.home-image{
    height: 686px;
    position: relative;
}
.home-image img{
    width: 100%;
    height: 100%;
    font-family: "object-fit:cover";
    object-fit: cover;
    position: absolute;
}
.home-image-overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.home-image .hero-heading{
    z-index: 99;
    margin: 0 8%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 16%;
}
.home-image .hero-heading h1{
    color: #fff;
}